:root {
  --fuenteTitulo: 'Libre Franklin', sans-serif;
  --fuenteTextos: 'Open Sans', sans-serif;

  --naranja: #F58634;
  --negro: #515151;
  --blanco: #FFFFFF;
  --gris: #7D7D7D;
  --grisClaro: #F0F0F0;
}

/** Nuestros Servicios **/
.nuestros-servicios {
  width: 100%;
  padding: 2rem;
  background-color: var(--grisClaro);
}

.nuestros-servicios-headig {
  margin: 2rem 0 0 0;
  font-size: 20px;
  text-align: center;
  font-family: var(--fuenteTitulo);
  font-weight: bold;
  color: var(--negro);
}

.nuestros-servicios-headig span {
  color: var(--naranja);
  font-style: italic;
}

.nuestros-servicios-cards {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card-servicio {
  background-color: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  -webkit-box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
  -moz-box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
  box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
}

.card-servicio-img {
  width: 7rem;
}

.card-servicio-txt {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) { 
  .nuestros-servicios-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .nuestros-servicios-headig {
    font-size: 24px;
  }

  .nuestros-servicios-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-servicio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  .card-servicio-txt {
    font-size: 16px;
    text-align: center;
    margin-top: 1.5rem;
  }
}

/** Realiza Tu Pedido **/
.realiza-tu-pedido {
  width: 100%;
  padding: 2rem;
  background-color: var(--naranja);
}

.realiza-tu-pedido-heading {
  margin: 2rem 0 0 0;
  font-size: 20px;
  text-align: left;
  font-family: var(--fuenteTitulo);
  font-weight: bold;
  color: var(--blanco);
}

.realiza-tu-pedido-heading span {
  font-style: italic;
  font-size: 22px;
}

.realiza-tu-pedido-cards {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: start;
  gap: 2rem;
}

.card-pedido {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.card-pedido-img {
  width: 20rem;
}

.card-pedido-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card-pedido-txt h3,
.card-pedido-txt p {
  margin: 0;
  text-align: center;
  color: var(--blanco);
}

.card-pedido-txt h3 {
  font-family: var(--fuenteTitulo);
  font-size: 18px;
}

.card-pedido-txt p {
  font-family: var(--fuenteTextos);
  font-size: 16px;
}

@media (min-width: 768px) {
  .card-pedido {
    flex-direction: row;
    gap: 1rem;
  }
}

@media (min-width: 1024px) {
  .realiza-tu-pedido-heading {
    font-size: 24px;
  }

  .realiza-tu-pedido-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-pedido {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  .card-servicio-txt {
    font-size: 16px;
    text-align: center;
    margin-top: 1.5rem;
  }
}

.realiza-pedido-btn {
  background-color: var(--blanco);
  color: var(--naranja);
  height: 4rem;
  margin: 0;
  border: 1px solid var(--naranja);
}

.realiza-pedido-btn:hover {
  background-color: var(--naranja);
  color: var(--blanco);
  border: 1px solid var(--blanco);
}

.realiza-siguenos {
  display: grid;
  grid-template-columns: 1fr;
}

.siguenos {
  margin-top: 2rem;
}

.siguenos p {
  color: var(--blanco);
}

.siguenos-redes {
  display: flex;
  gap: 5rem;
  justify-content: flex-end;
  margin-top: 2rem;
}

.siguenos-redes img {
  width: 4rem;
  cursor: pointer;
}

@media (min-width: 768px) { 
  .realiza-siguenos {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
  }
}

/** Nuestros Productos **/
.nuestros-productos {
  width: 100%;
  padding: 2rem;
  background-color: var(--blanco);
}

.nuestros-productos-headig {
  margin: 2rem 0 0 0;
  font-size: 20px;
  text-align: center;
  font-family: var(--fuenteTitulo);
  font-weight: bold;
  color: var(--negro);
}

.nuestros-productos-headig span {
  color: var(--naranja);
  font-style: italic;
}

.cards-productos {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

.card-producto-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.card-producto-img p {
  margin: 0;
  color: var(--negro);
  font-weight: bold;
  font-size: 20px;
}

.card-producto-descripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}

.card-producto-descripcion p {
  font-size: 14px;
}

.ver-productos {
  margin-top: 3rem;
  background-color: var(--naranja);
  color: var(--blanco);
  cursor: pointer;
}

.ver-productos:hover {
  background-color: var(--blanco);
  color: var(--naranja);
}

@media (min-width: 768px) { 
  .cards-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) { 
  .cards-productos {
    grid-template-columns: repeat(3, 1fr);
  }
}