:root {
  --fuenteTitulo: 'Libre Franklin', sans-serif;
  --fuenteTextos: 'Open Sans', sans-serif;

  --naranja: #F58634;
  --negro: #515151;
  --blanco: #FFFFFF;
  --gris: #7D7D7D;
  --grisClaro: #F0F0F0;
}

/** Nuestros Servicios **/
.nuestros-servicios {
  width: 100%;
  padding: 2rem;
  background-color: var(--grisClaro);
}

.nuestros-servicios-headig {
  margin: 2rem 0 0 0;
  font-size: 20px;
  text-align: center;
  font-family: var(--fuenteTitulo);
  font-weight: bold;
  color: var(--negro);
}

.nuestros-servicios-headig span {
  color: var(--naranja);
  font-style: italic;
}

.nuestros-servicios-cards {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.card-servicio {
  background-color: var(--blanco);
  border: 1px solid var(--blanco);
  border-radius: 10px;
  padding: 2rem 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  -webkit-box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
  -moz-box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
  box-shadow: 7px 7px 9px -3px rgba(125,125,125,1);
}

.card-servicio-img {
  width: 7rem;
}

.card-servicio-txt {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 768px) { 
  .nuestros-servicios-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .nuestros-servicios-headig {
    font-size: 24px;
  }

  .nuestros-servicios-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .card-servicio {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
  }

  .card-servicio-txt {
    font-size: 16px;
    text-align: center;
    margin-top: 1.5rem;
  }
}
