:root {
  --fuenteTitulo: 'Libre Franklin', sans-serif;
  --fuenteTextos: 'Open Sans', sans-serif;

  --colorPrincipal: #F58634;
  --colorSecundario: #363435;
  --colorTerciario: #F2CB05;

  --negro: #111111;
  --blanco: #FFFFFF;
  --gris: #F2F2F2;
}


.hero {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(242,203,5,1) 0%, rgba(245,134,52,1) 50%, rgba(242,203,5,1) 100%);
  color:white;
}

.logo-hero {
  width:100%;
  height: 100%;
  fill:white;
  position: absolute;
  
  left: 0;
  display:inline-block;
}

.inner-header {
  height:45vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

/** Sobre Nosotros **/
.sobre-nosotros {
  margin-top: 0;
  height: auto;
  padding: 3rem;
  width:100%;
  background-color: var(--colorSecundario);
}

.sobre-nosotros h2 {
  font-size: 2.4rem;
  color: var(--blanco);
  text-align: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 3rem;
}

@media (min-width: 768px) { 
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 992px) { 
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: 0.5rem;
  max-width: 250px;
  max-height: 300px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
}

.dismiss {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: black;
  border: 2px solid #D1D5DB;
  font-size: 1rem;
  font-weight: 300;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  transition: .3s ease;
}

.dismiss:hover {
  background-color: #ee0d0d;
  border: 2px solid #ee0d0d;
  color: #fff;
}

.header-card {
  padding: 1.25rem 1rem 1rem 1rem;
}

.image {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2feee;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  animation: animate .6s linear alternate-reverse infinite;
  transition: .6s ease;
}

.image svg {
  color: #0afa2a;
  width: 2rem;
  height: 2rem;
}

.content {
  margin-top: 0.75rem;
  text-align: center;
  height: auto;
}

.title {
  color: var(--colorPrincipal);
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5rem;
}

.message {
  margin-top: 0.5rem;
  color: #595b5f;
  font-size: 1.45rem;
  line-height: 2rem;
  font-family: var(--fuenteTextos);
}

.actions {
  margin: 0.75rem 1rem;
}

.history {
  display: inline-flex;
  padding: 0.5rem 1rem;
  background-color: #1aa06d;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.track {
  display: inline-flex;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  color: #242525;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  justify-content: center;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid #D1D5DB;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

@keyframes animate {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.09);
  }
}

/** Servicios **/
.servicios {
  margin-top: 0;
  height: auto;
  padding: 3rem;
  width:100%;
  background-color: var(--colorPrincipal);
}

.servicios-redes h2 {
  font-size: 2.4rem;
  color: var(--blanco);
  text-align: center;
  margin-bottom: 2rem;
}

.servicios-contenido {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  justify-items: center;
}

@media (min-width: 768px) { 
  .servicios-contenido {
    grid-template-columns: repeat(2, 1fr);
  }
}

.servicios-redes h2 {
  text-align: center;
}
.redes {
  display: flex;
  justify-content: space-evenly;
}

.redes a > svg {
  width: 4rem;
}

.cards-servicios {
  margin-top: 5rem;
}

.image-servicio {
  background-color: var(--colorTerciario)
}