@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&family=Roboto:wght@400;500&display=swap');

:root {
  --fuenteTitulo: 'Manrope', sans-serif;
  --fuenteTextos: 'Manrope', sans-serif;

  --colorPrincipal: #F58634;
  --colorSecundario: #363435;
  --colorTerciario: #F2CB05;

  --negro: #111111;
  --blanco: #FFFFFF;
  --gris: #F2F2F2;
}

.all-products-headig {
  margin: 2rem 0 0 0;
  font-size: 20px;
  text-align: center;
  font-family: var(--fuenteTitulo);
  font-weight: 400;
  color: var(--negro);
}

.all-products-headig span {
  color: var(--naranja);
  font-weight: 700;
}

.categorias-productos{
  display: flex;
  gap: 5rem;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.buton-container{
  display: flex;
  align-items: center;
}

.categorias-productos-btn {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 3rem;
  gap: 0rem;
  height: 6rem;
  width: 200px;
  cursor: pointer;
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
            radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
            radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
            radial-gradient(circle at 0 0, #ffffff 0, #ffffff 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
            linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
            linear-gradient(76deg, #343D44 14%, #6A727D 92%, #86f6ac 128%, transparent 128%);
border-radius: 30px;
box-sizing: border-box;
z-index: 1;
position: relative;
}

.categorias-productos-btn:hover{
  background: radial-gradient(circle at 100% 100%, #ffffff 0, #ffffff 25px, transparent 25px) 0% 0%/30px 30px no-repeat,
  radial-gradient(circle at 0 100%, #ffffff 0, #ffffff 25px, transparent 25px) 100% 0%/30px 30px no-repeat,
  radial-gradient(circle at 100% 0, #ffffff 0, #ffffff 25px, transparent 25px) 0% 100%/30px 30px no-repeat,
  radial-gradient(circle at 0 0, #ffffff 0, #ffffff 25px, transparent 25px) 100% 100%/30px 30px no-repeat,
  linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 10px) calc(100% - 60px) no-repeat,
  linear-gradient(#ffffff, #ffffff) 50% 50%/calc(100% - 60px) calc(100% - 10px) no-repeat,
  linear-gradient(76deg, #00baff 14%, #128ab7 92%, #86f6ac 128%, transparent 128%);
border-radius: 30px;
}

.categorias-productos-btn p {
  font-size: 18px;
}



#btn-img1{
  filter: grayscale(0%);
  cursor: pointer;
  width: 350px;
}

#btn-img2{
  width: 200px;
  filter: grayscale(100%);
  cursor: pointer;
}

#btn-img2:hover{
  filter: grayscale(0%);
}

#btn-img3{
  width: 300px;
  filter: grayscale(100%);
  cursor: pointer;
}

#btn-img3:hover{
  filter: grayscale(0%);
}

.productos-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 1rem;
}

.producto-etiquetadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #DCDCDC;
  border-radius: 10px;
  padding: 1rem;
}

.producto-etiquetadora img {
  width: 70%;
}

.producto-etiquetadora .tinta-img {
  width: 30%;
}

.producto-texto h3 {
  color: var(--negro);
  font-family: var(--fuenteTitulo);
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid #DCDCDC;
  padding-bottom: 1rem;
}

.producto-texto p {
  color: var(--colorSecundario);
  font-family: var(--fuenteTextos);
  text-align: justify;
}

@media (min-width: 768px) { 
  .productos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .all-products-headig {
    font-size: 24px;
  }

  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}